1. Load drug data and process it

In [4]:
# Imports

import pandas as pd

In [6]:
# Load state drug data for 2008 - 2018

columns = ['State', 'Year', 'Product Name', 'Quarter Begin Date']
filenames = ['State_Drug_Utilization_Data_' + str(i) + '.csv' for i in range(2008, 2019)]

df = pd.concat(pd.read_csv(filename, usecols=columns) 
               for filename in filenames)

In [7]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39752112 entries, 0 to 2365964
Data columns (total 4 columns):
State                 object
Year                  int64
Product Name          object
Quarter Begin Date    object
dtypes: int64(1), object(3)
memory usage: 7.9 GB

In [8]:
# Convert non-numeric columns to category to save memory

df[['State', 'Product Name', 
    'Quarter Begin Date']] = df[['State', 
                                 'Product Name', 
                                 'Quarter Begin Date']].astype('category')

In [9]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39752112 entries, 0 to 2365964
Data columns (total 4 columns):
State                 category
Year                  int64
Product Name          category
Quarter Begin Date    category
dtypes: category(3), int64(1)
memory usage: 837.4 MB

In [10]:
df_samp = df.sample(10)
df_samp

        State  Year Product Name      Quarter Begin Date
3974679    NC  2016    METFORMIN              10/01/2016
1855324    MS  2014   ULTRAVIST               10/01/2014
3685315    NV  2015    Oxycodone  07/01/2015 12:00:00 AM
3666018    WV  2012   AMOXICILLI              04/01/2012
2459536    XX  2011   CLEARLAX P              10/01/2011
136305     AZ  2014   RIZATRIPTA              07/01/2014
1887776    NM  2011   PREDNISONE              01/01/2011
756272     LA  2017   CITALOPRAM  04/01/2017 12:00:00 AM
2187968    MT  2010   LEUCOVORIN              01/01/2010
1547195    VA  2010   Cefdinir O              07/01/2010

In [141]:
# TODO:
# 1. Convert quarter into 1-4
# 2. Do some frequency count plots
# 3. See which states use which drugs
# 4. Come up with some more questions